$peacock-blue: #006a91;
$greyish-brown: #565656;
$frog-green: #60b515;
$white: #ffffff;
$cerulean: #007cbb;
$black: #000000;
$black-two: #313131;
$warm-grey: #747474;
$pinkish-grey: #cccccc;
$white-two: #dddddd;
$white-three: #eeeeee;
$white-four: #fafafa;
$navy: #002538;
$prussian-blue: #004a70;
$cerulean-two: #0094d2;
$cerulean-two-two: #0094d2;
$light-teal: #89cbdf;
$light-blue-grey: #e1f1f6;
$auburn: #a32100;
$rust-red: #c92100;
$tomato-red: #e62700;
$beige: #ebafa6;
$beige-two: #f5dbd9;
$pumpkin: #eb8d00;
$sunflower-yellow: #efd603;
$pale-peach: #feecb5;
$racing-green: #1d5100;
$dark-grass-green: #266900;
$dark-grass-green-two: #318700;
$grass: #62a420;
$light-sage: #dff0d0;
$royal-purple: #660092;
$purply: #853fb3;
$tomato: #e64120;
$golden: #fac400;
$grape: #50266b;
$burnt-orange: #c25400;