.h-1-login-32-px {
	font-family: Metropolis;
	font-size: 32px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.12;
	color: $black;
}

.h-2-page-title-28-px {
	font-family: Metropolis;
	font-size: 28px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	color: $black;
}

.h-3-22-px {
	font-family: Metropolis;
	font-size: 22px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.64;
	color: $black;
}

.h-4-18-px {
	font-family: Metropolis;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	color: $black;
}

.h-5-16-px {
	font-family: Metropolis;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	color: $greyish-brown;
}

.h-6-14-px {
	font-family: Metropolis;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	color: $black-two;
}

.p-1-body-14-px {
	font-family: Metropolis;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	color: $greyish-brown;
}

.link-14-px {
	font-family: Metropolis;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	color: $cerulean;
}

.link-inverse-14-px {
	font-family: Metropolis;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	color: $white;
}

.p-2-section-header-13-px {
	font-family: Metropolis;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	color: $greyish-brown;
}

.p-3-grid-form-text-13-px {
	font-family: Metropolis;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	color: $greyish-brown;
}

.p-4-form-labels-column-headers-12-px {
	font-family: Metropolis;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	color: $greyish-brown;
}

.p-5-table-footers-12-px {
	font-family: Metropolis;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	color: $greyish-brown;
}

.p-6-column-headers-11-px {
	font-family: Metropolis;
	font-size: 11px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	color: $greyish-brown;
}

.p-7-tags-labels-11-px {
	font-family: Metropolis;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	color: $greyish-brown;
}

.p-8-badges-10-px {
	font-family: Metropolis;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.6;
	color: $greyish-brown;
}